{% extends 'base.html' %}

{% block title %}
    Saved Events
{% endblock %}

{% block body %}
    <div class="container bg-white my-3 p-4 shadow">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="display-6 text-center">Saved Events</h1>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Address</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td><p class="lead">{{ event.name }}</p><img src="{{ event.image }}" width="200" class="img-thumbnail rounded" alt="event image"></td>
                                <td class="lead">{{ event.date }}, {{ event.time }}</td>
                                <td class="lead">{{ event.venue }}</td>
                                <td class="lead">{{ event.address }}, {{ event.city }}, {{ event.state }}</td>
                                <td class="lead text-center">
                                    <a href="{{ event.link }}"><i class="fa-solid fa-ticket-simple fa-xl n"></i></a>
                                    <br>
                                    <a href="{% url 'update-event' event.id %}" class="update-icon">
                                        {% if event.favorite == 0 %}
                                            <i class="fa-regular fa-star fa-xl" style="color: #ffd43b;"></i>
                                        {% endif %}
                                        {% if event.favorite == 1 %}
                                            <i class="fa-solid fa-star fa-xl" style="color: #ffd43b;"></i>
                                        {% endif %}
                                    </a>
                                    <br>
                                    <a href="{% url 'delete-event' event.id %}" class="delete-icon">
                                        <i class="fa-solid fa-square-minus fa-xl" style="color: #ff0000;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
